<html lang="uk">
<head>
    <title>DbPractice</title>

    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link href="/static/img/favicon.ico" rel="shortcut icon">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/panels.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jQuery351.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<br>
<div class="container">
    <h1>Hello again</h1>
    <button class="btn btn-info" id="getAllCustomers">GET ALL</button>
    <br/>
    <br/>
    <form id="addNewCustomer">
        <label>
            Name
            <input type="text" value="d"/>
        </label>
        <label>
            City
            <input type="text"/>
        </label>
        <label>
            Country
            <input type="text"/>
        </label>
        <button type="submit" class="btn btn-success" id="save">SAVE</button>
    </form>
</div>

<script>
    $("#addNewCustomer").submit(function (event) {
        event.preventDefault();
        console.log(event.target)
        let formData = JSON.stringify($("#addNewCustomer"));
        console.log(formData);

        // Собираем запрос к серверу
        // let request = new Request(event.target.action, {
        //     method: 'POST',
        //     body: JSON.stringify(obj),
        //     headers: {
        //         'Content-Type': 'application/json',
        //     },
        // });
        //
        // // Отправляем (асинхронно!)
        // fetch(request).then(
        //     function(response) {
        //         // Запрос успешно выполнен
        //         console.log(response);
        //         // return response.json() и так далее см. документацию
        //     },
        //     function(error) {
        //         // Запрос не получилось отправить
        //         console.error(error);
        //     }
        // );
    });
    $("#getAllCustomers").click(function () {
        let url = new URL(window.location.origin + '/customer/getAll');
        // url.search = new URLSearchParams({id: el});
        fetch(url).then(function (response) {
            if (response.status === 200)
                return response.json();
            else {
                console.log(response.message);
                return null;
            }
        }).then(resp => {
            if (resp) {
                console.log(resp)
            }
        });
    });
</script>

</body>
</html>