<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vocabulary</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
    <link href="css/panels.css" rel="stylesheet" type="text/css">
    <script src="js/angular175.js"></script>

    <style>
        .added {
            background-color: greenyellow;
            border-style: outset;
            font-style: inherit;
        }
        .wrong {
            background-color: #FF8686;
            border-style: inset;
            font-style: inherit;
        }
        .invisible {
            opacity: 0;
        }
    </style>

</head>
<body>
<br>
<div class="container">
    <div class="panel panel-success" ng-app="voc" ng-controller="vocctrl">
        <div class="panel-heading text-center">
            <h1>Vocabulary</h1>
        </div>
        <div class="panel-body" id="vocabulary">
            <div class="row">
                <div class="col-4 text-left {{pair.correct | paintAnswer}}" ng-repeat="pair in pairs">
                    <div class="row">
                        <div class="col-6 text-left">
                            {{pair.word}}
                        </div>
                        <div class="col-6 text-left">
                            {{pair.translation}}
                        </div>
                    </div>
                </div>
                <div class="col-4 text-left">
                    <div class="row">
                        <div class="col-6 text-left">
                            {{word}}
                        </div>
                        <div class="col-6 text-left">
                            <form ng-submit="checkWord()">
                                <input type="text" ng-model="translation" id="input" style="width: 110%;"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-3">
                    <form ng-submit="addWord()">
                        <input type="text" id="newWord" ng-model="newPair"
                               ng-class="{added: pairAdded, wrong: pairWrong}" placeholder="{{separate}}"/>
                    </form>
                </div>
                <div class="col-3 text-primary">
                    <h5>Words: {{pairsCount}}</h5>
                </div>
                <div class="col-3 text-success {{invisible}}">
                    <!--<h2>{{percents}}% - doesn't works correct (maybe because of init values?)</h2>-->
                    <!--do that using filter-->
                    <h2>{{100 - mistakes*100/pairsCount | rounder}}%</h2>
                </div>
                <div class="col-3 text-danger">
                    <h5>Mistakes: {{mistakes}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var voc = angular.module("voc", []);

    // service doesn't work correct. Maybe it uses init values and doesn't refresh it?
    voc.service('$percenter', function () {
        this.getPercent = function (mistakes, count) {
            var x = 100 - mistakes*100/count;
            return Math.round(x);
        };
    });

    // painting the div of answer
    voc.filter('paintAnswer', function () {
        return function (clazz) {
            if (clazz === true) {
                return "added";
            } else return "wrong";
        };
    });

    // rounding the success percent
    voc.filter('rounder', function () {
        return function (number) {
            return Math.round(number);
        };
    });

    // $percenter is for example here, it doesn't needed
    voc.controller("vocctrl", function ($scope, $http, $percenter) {
        $scope.invisible = "invisible";
        $scope.pairAdded = false;   //indicates successfully added words pair in 'newWord'
        $scope.pairWrong = false;   //indicates not added words pair in 'newWord'
        $scope.pairsCount = 0;  //all given word pairs
        $scope.mistakes = 0;    //correct pairs
        // $scope.percents = $percenter.getPercent($scope.mistakes, $scope.pairsCount);    //just for example
        $scope.newPair = "";
        $scope.pairs = [];
        $scope.word = "Press enter to start...";
        $scope.translation = "here";
        $scope.lastPair = undefined;
        $scope.separate = "Separate words with '\\\\'";

        //  http request for getting new word-translation pair
        $scope.getWord = function ($scope, $http) {
            $http.get("checkWord")
                .then(function (response) {
                    $scope.word = response.data.word;
                    $scope.lastPair = response.data;
                })
        };

        //  checking answer
        $scope.checkWord = function () {

            //  if it's a first enter pressing
            if ($scope.lastPair === undefined) {
                $scope.getWord($scope, $http);
                $scope.translation = "";
                return;
            }

            //  other cases
            $scope.invisible = "";

            //  correct answer case
            if ($scope.translation === $scope.lastPair.translation) {
                console.log("CORRECT!");
                $scope.pairsCount++;
                $scope.lastPair.correct = true;
                $scope.pairs.push($scope.lastPair);
                $scope.word = "";
                $scope.translation = "";
                $scope.lastPair = undefined;
                $scope.getWord($scope, $http);
            }

            //  incorrect answer case
            else {
                console.log("WRONG!");
                $scope.pairsCount++;
                $scope.mistakes++;
                $scope.lastPair.correct = false;
                $scope.pairs.push($scope.lastPair);
                $scope.translation = "";
                $scope.getWord($scope, $http);
            }
        };

        //  adding new word to database
        $scope.postNewWord = function ($scope, $http) {
            var pair = {'word': $scope.newPair.split('\\\\')[0], 'translation': $scope.newPair.split('\\\\')[1]};
            if (pair.word === undefined || pair.translation === undefined || pair.word.trim() === "" || pair.translation.trim() === "") {
                $scope.pairAdded = false;
                $scope.pairWrong = true;
                return;
            }
            $http.post("addWord", JSON.stringify(pair));
            $scope.pairWrong = false;
            $scope.pairAdded = true;
            console.log("added: " + JSON.stringify(pair));
        };

        // adding new word to database trigger
        $scope.addWord = function () {
            $scope.postNewWord($scope, $http);
            $scope.newPair = "";
        }
    });
</script>

<!--Alternative form submition using java script-->
<!--<script>-->
<!--var input = document.getElementById("input");-->
<!--input.addEventListener("keyup", function(event) {-->
<!--event.preventDefault();-->
<!--if (event.keyCode === 13) {-->
<!--document.getElementById("btn").click();-->
<!--}-->
<!--});-->
<!--</script>-->


</body>
</html>