<html lang="uk">
<head>
    <title>
        DbPractice
    </title>

    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link href="/static/img/favicon.ico" rel="shortcut icon">

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-grid.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-reboot.css" rel="stylesheet" type="text/css">
    <link href="/static/css/panels.css" rel="stylesheet" type="text/css">
    <script src="/static/js/bootstrap.bundle.js"></script>

</head>
<body>
<br>
<div class="container">
    <h1>Hello again</h1>
</div>

</body>
</html>